/* Contenedor principal del perfil */
.infoGeneral {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título del perfil */
.infoGeneral h2 {
    margin-bottom: 20px;
    color: whitesmoke;
}

/* Campos del formulario */
.infoGeneral input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Imagen de perfil */
.ImageLoaded {
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    border-radius: 50%;
    border: 3px solid #ffcc00;
    object-fit: cover;
}

/* Botón de imagen */
.infoGeneral #image {
    display: block;
    margin: 10px auto;
    padding: 8px;
    background-color: #ffcc00;
    color: #333;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
    font-weight: bold;
}

/* Ocultar input de archivo */
#input-file {
    display: none;
}



/* Estilo para los contenedores de privacidad y género */
.privacidad, .privacidadLista {
    padding: 15px;
    border-radius: 8px;
    color: white;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.privacidad h3, .privacidadLista h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color:whitesmoke;
}

/* Estilo para los botones de selección */
.privacidad label, .privacidadLista label {
    background: #333;
    color: #f3f3f3;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

/* Cambia de color al pasar el mouse */
.privacidad label:hover, 
.privacidadLista label:hover {
    background: #555;
}

/* Resalta el botón cuando está seleccionado */
.privacidad input[type="radio"]:checked + label, 
.privacidadLista input[type="radio"]:checked + label{
    background: #ffcc00;
    color: black;
    border-color: #ffcc00;
}

/* Oculta los radios originales */
.privacidad input[type="radio"], input[type="radio"],
.privacidadLista input[type="radio"], input[type="radio"]{
    display: none;
}


/* Botón de guardar cambios */
#submitPerfil, #submitLista {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

#submitPerfil:hover, #submitLista:hover {
    background-color: #ffcc00;
    color: #333;
}


/* Estilo general de la sección */
.wishlists {
    background: #444;
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin-top: 20px;
}


.wishlists .infoListas{
   display: flex;
   justify-content: space-between;
   padding: 10px;

   .fas {
    align-self: center;
    padding: 5px; /* Tamaño normal */
    transition: all 0.3s ease-in-out;
   }
}

.fas:hover {
    cursor: pointer;
    background-color: #222;
    border-radius: 15px;
}


/* Lista de wishlists */
.listas {
    list-style: none;
    padding: 0;
}

/* Estilo para cada wishlist */
.lista {
    background: #333;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Título y descripción de cada wishlist */
.lista span {
    font-size: 18px;
    font-weight: bold;
    color: #ffcc00;
}

.lista .headerLista {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fas {
        align-self: center;
        padding: 5px; /* Tamaño normal */
        transition: all 0.3s ease-in-out;
    }
}

.lista p {
    margin: 5px 0;
    font-size: 14px;
    color: #ccc;
}

/* Contenedor de productos dentro de una wishlist */
.contenidoLista {
    list-style: none;
    padding: 0;
}

/* Estilo para cada producto */
.producto {
    display: flex;
    align-items: center;
    background: #222;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    transition: 0.3s ease;
}

/* Efecto hover en el producto */
.producto:hover {
    background: #555;
}

/* Imagen del producto */
.producto img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

/* Información del producto */
.producto .info {
    display: flex;
    flex-direction: column;
}

.producto .info span {
    font-size: 16px;
    font-weight: bold;
}

.producto .info p {
    font-size: 14px;
    color: #ffcc00;
}



/* Estilos del popup */
.popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
}

.popup-content {

    background: #444;
    color:whitesmoke;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;

}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

#formWishlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

#formWishlist input, 
#formWishlist textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.pop-up-options {
    position: absolute;
    background-color: #444;
    border: 1px solid #27251f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1000;
    display: none;
    width: 150px;
}

.pop-up-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pop-up-content h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: whitesmoke;
}

.pop-up-content button {
    padding: 8px 10px;
    background-color: #ffcc00;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pop-up-content button:hover {
    background-color: #d6ab00;
}

.pop-up-content .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.popup-editar {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: #444;
    color: whitesmoke;
    padding: 20px;
    border: 2px solid #27251f;
    border-radius: 8px;
    z-index: 1000;
}

.popup-editar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.producto-editar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

#btnGuardarCambios{
    margin-top: 10px;
    background-color: #333;
    color: whitesmoke;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btnGuardarCambios:hover {
    color: black;
    background-color: #ffcc00;
}

/* Responsive */
@media (max-width: 768px) {

    
}