#Social {
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    background-color: #444;
    color: white;
    border-radius: 8px;
}
.perfiles-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.perfil {
    background: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.perfil .info {
    margin-top: 10px;
}
.perfil span {
    font-size: 18px;
    font-weight: bold;
    color: #ffcc00;
}
.perfil p {
    font-size: 14px;
    color: #ccc;
}
.perfil button {
    background-color: #222;
    color:whitesmoke;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.perfil button:hover {
    background-color: #ffdb4d;
    color:black;
}

/* Responsive */
@media (max-width: 768px) {

    .perfiles-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .perfil {
        padding: 10px;
    }
}