<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro.css">
    <title>Registro</title>
</head>

<body>

    <nav class="navbar">
        <a href="main.html" class="logo-link">
            <h1 class="logo">Super Administrador</h1>
        </a>

        <ul class="nav-links">
            <li><a href="perfil.php">Perfil</a></li>
            <li><a href="registro.html">Registro</a></li>
            <li><a href="../index.php">Cerrar sesión</a></li>
        </ul>
    </nav>

    <section id="registroSection">
        <div class="contenedorForm">
            <h3>Registro</h3>
            <form id="formRegistro" action="../controllers/registroUsuario.php" method="post" enctype="multipart/form-data">
                <input type="email" id="email" placeholder="correo" name="email">
                <input type="text" id="usuario" placeholder="usuario" name="usuario">
                <input type="password" id="password" placeholder="contraseña" name="pass">

                <img class="ImageLoaded" src="../../multimedia/default/default.jpg" id="profile-image">
                <label for="input-file">Eliga una imagen</label>
                <input type="file" accept="image/*" id="input-file" name="avatar">

                <input type="text" id="nombres" placeholder="Nombres" name="nombres">
                <input type="text" id="paterno" placeholder="Apellido paterno" name="paterno">
                <input type="text" id="materno" placeholder="Apellido materno" name="materno">

                <input type="date" id="nacimiento" name="nacimiento">
                
                <div class="sexo">
                    <h3>Género</h3>
                    <div>
                        <input type="radio" id="masculino" name="sexo" value="Masculino">
                        <label for="masculino">Masculino</label>
                
                        <input type="radio" id="femenino" name="sexo" value="Femenino">
                        <label for="femenino">Femenino</label>
                    </div>
                </div>

                <input type="submit" id="submitRegistro" value="Registrarse">
            </form>
        </div>

    </section>

    <script src="registro.js"></script>
</body>

</html>